*	{
	box-sizing: border-box;
}

#name {
	font-weight: 700;
}

div {
	margin-bottom: 5px;
	margin-right: 5px;
	/* border: 1px solid black; */
	/* max-width: 50%; */
}

.inLine {
	display: inline-block;
}

#floatLeft {
	float: left;
}

#booksAvailable {
	min-height: 100px;
}